<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peraglobal.km.crawler.task.dao.TaskRuleDao">
	
	<!--根据JobId查询 -->
	<select id="queryRuleByjobId" parameterType="map" resultType="com.peraglobal.km.crawler.task.model.TaskRule">
		select * from TASKRULE where jobId = 
		<if test="jobId!=null and jobId!=''">#{jobId}</if>
	</select>
	<!--根据JobId查询 -->
	<select id="queryRuleById" parameterType="map" resultType="com.peraglobal.km.crawler.task.model.TaskRule">
		select * from TASKRULE where jobId = 
		<if test="jobId!=null and jobId!=''">#{jobId}</if>
	</select>
	<!--删除任务规则 -->
	<delete id="delTaskRuleByIds" parameterType="list">
		delete from TASKRULE 
		<where>
			jobId in 
			<foreach collection="list" item="item" open="("  separator="," close=")" >
				#{item}
			</foreach>
		</where>
	</delete>
</mapper>