<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>
	#block("title")
	#end
</title>
	#parse("../../common/common.vm")
	<link rel="stylesheet" href="$skinsPath/blue-km/css/dialog.css" type="text/css" />
	<script type="text/javascript">
		var SERVER_CONTEXT = "$SERVER_CONTEXT";
		$(function(){
			var interval = setInterval(function(){
				clearInterval(interval);
				var t = $("#form").find(":text:eq(0)");
				if(t.length>0){
					t.focus();
					return ;
				}
				$("#form").find(":password:eq(0)").focus();
			},500);
		});
	</script>
	#block("inHeader")
	#end
</head>

<body>
<div class="wrapper details" id="js_layout" >
#block("body")
<form id="form" name="#" action="#" method="post">
	<div data-options="region:'north',border:false,collapsible:false" style="height: 50px;position:relative">
        <div class="ftbutton border-n">
			#block("point")
				<h1>$!{pointDic}</h1>
			#end
			#block("buttons")
			   <ul class="lists rf">
					  <li><button type="submit" class="button" id="saveBtn">保存</button></li>
					  <li><button type="button" class="button" onclick="$.dialog.close();">取消</button></li>
			   </ul>
			#end
        </div>
    </div>

	<div>
    #block("form")
    	<div data-options="region:'center'" class="pad10" id="details_edit">
				#block("hiddenInput")
				
				#end
				<table class="forms">
					<tbody>
						#block("formItem")
						
						#end
					</tbody>
				</table>
		</div>		
    #end
	
</div>
</form>
#end
</div>
</body>
</html>
