#override("customeButton")
	<a href="#" class="easyui-linkbutton" iconCls="icon-showStart" plain="true" id="globalEnable">启用</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-showStop" plain="true" id="globalDisable">停用</a>
#end


#override("inHeader")
<script type="text/javascript">
	seajs.use(['framework/admin/globalProperties.js'], function(properties) {
		
		properties.gridLoad();
		properties.init();
	});
</script>
#end

#override("conditions")
<input id="search" type="text" class="txt" name="conditions['name-code'].value" value="输入属性名称或者编码">
#end

#extends("/template/listDataGrid.vm")