#override("hiddenInput")
	<input type="hidden" id="id" name="id" value="$!{id}">
#end
#override("formItem")
	#trPassword('密码','user.password',true,'')
	#trPassword('确认密码','user.confirmPassword',true,'')
#end
#override("inHeader")
<script type="text/javascript">
		$(document).ready(function(){
			seajs.use(['framework/admin/userReSetPassword'], function(ursp) {
				ursp.init();
			});
		});
</script>
#end
#extends("/template/editDialog.vm")