#override("point")
<h1 style="text-align: center;">$!{pointDic}</h1>
 #end
#override("formItem")
	<table border="0" >
		<tr >
			<th width='120px'>序号</th>
			<th width='250px'>采集内容</th>
		</tr>
		 #foreach($pr in $pages)
		 	<tr>
		 		<td align='center'>$velocityCount</td>
		 		<td align='center'>$pr</td>
		 	</tr>
		 #end
	</table>
#end
#override("buttons")
<ul class="lists rf">
    <li><button type="button" class="button" onclick="$.dialog.close();">关闭</button></li>
</ul>
#end
#override("inHeader")
#end
#extends("/template/blue-km/editDialog.vm")