<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</head>
	<body>
		<h1>欢迎:$!{SECURITY_UTIL.getSubject().getPrincipal().username}</h1>
		<a href="$SERVER_CONTEXT/login/logout.html">退出 </a>
	</body>
</html>

