#override("inHeader")
<script src="$skinsPath/public/easyui/easyui.datebox.js"></script>
<!-- <link rel="stylesheet" href="$skinsPath/blue/css/system_css/subFrame.css" type="text/css" /> -->
<script type="text/javascript">
seajs.use(['modules/km/js/taskTransfer/taskTransfer'], function(dic) {
	$(function(){
		 dic.init("$!{CODE_UTIL.getGlobalConfigValue('dic_value_is_show')},$!{taskMaxNumber}");
		var grid = dic.gridLoad();
		//dic.treeLoad(null,'../taskGroup/getTaskGroupTree.html?typeId=3',0);
		//grid.datagrid("toolbarPermission",{toolbarDel:true});  
	});
});
</script>
#end
#set($model='Dic')

#override("rightmenus")

<!-- <div id="treeRootMenu" class="easyui-menu" style="width:100px;">  
    	<div id="add_treeNode" data-options="iconCls:'icon-add'">添加</div>
    	<div id="edit_treeNode" data-options="iconCls:'icon-edit'">修改</div>
    	<div id="del_treeNode" data-options="iconCls:'icon-del'">删除</div>
</div>

<div id="treeNodeMenu" class="easyui-menu" style="width:100px;">  
    	<div id="edit_treeNode1" data-options="iconCls:'icon-edit'">修改</div>
    	<div id="del_treeNode1" data-options="iconCls:'icon-del'">删除</div>
</div> -->
#end
#override("toolbarButton")
<a href="javascript:void(0);" class="easyui-linkbutton" id="add$!{model}" data-options="iconCls:'icon-new',plain:true">新建</a>
<a href="javascript:void(0);" class="easyui-linkbutton" id="delete$!{model}" data-options="iconCls:'icon-del',plain:true">删除</a>
<a href="javascript:void(0);" class="easyui-linkbutton" id="showMoreBtn" name="startTask" data-options="iconCls:'icon-showStart',plain:true">开始</a>
<a href="javascript:void(0);" class="easyui-linkbutton" id="showMoreBtn" name="pauseTask" data-options="iconCls:'icon-refuse',plain:true">暂停</a>
<a href="javascript:void(0);" class="easyui-linkbutton" id="showMoreBtn" name="stopTask" data-options="iconCls:'icon-showStop',plain:true">停止</a>
#end
#*
#override("moreConditions")
<tr><td>
	<strong>状态:</strong>
	<select id="collectState" style="width:76px;">
		<option value="-1">全部</option>
		<option value="0">就绪</option>
		<option value="1">进行中</option>
		<option value="2">暂停</option>
		<option value="3">停止</option>
		##<option value="4">等待中</option>
	</select>
		<strong>优先级:</strong>
	<select id="PriorityToCollect" style="width:53px;">
		<option value="-1">全部</option>
		<option value="0">否</option>
		<option value="1">是</option>
	</select>
	<strong>传输方式:</strong>
	<select id="collectWay"style="width:66px;">
		<option value="-1">全部</option>
		<option value="0">自动</option>
		<option value="1">手动</option>
	</select>
</td></tr>
#end 
*#
#override("conditions")
	<input id="search" type="text" class="txt" name="conditions['dictionaryName'].value" value="请输入知识源筛选任务……">
	<input type="hidden" id="parentId" name="conditions['parentId_eq'].value">
#end
#extends("/km/crawler/template/leftTreeCenterGrid_crawler.vm")